
body{
    background-color: rgb(97, 150, 97) !important;
}

.container{
    color: white;
    background-color: rgb(68, 92, 68);
    padding-top: 15px;
    padding-bottom: 15px;
}
h1{
    margin-top: 30px !important;
    margin-bottom: 20px !important;
    color: white !important;
}
.card{
    background-image: linear-gradient(to right, rgb(211, 174, 106),rgb(134, 114, 114));
    margin-bottom: 10px;
    border: none !important;
}
.card-header{
    background-color: black !important;
}
.card-header{
    color: white !important;
}
.card .img-box{
    display: flex;
    justify-content: center;
    height: 8em;
    margin: 30px auto 0 auto !important;
    object-fit: scale-down;
}
.img-box img{
    border-radius: 10px !important;
    width: 90%;
    align-self: center;
    height: 100%;
}

.card-body{
    padding-bottom: 50px !important;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    align-items: center;
}

.col-sm-6{
    margin-top: 1em !important;
}